@model Store.WebUI.ViewModels.LoginAndRegisterViewModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Login</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", style = "padding-left: 25px; padding-top: 60px;" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email adresinizi girin" required="">
    </div>
    <button type="submit" id="resetBtn" class="btn btn-primary">Reset Password</button>

}
@section scripts{


    <script>

        $('#resetBtn').click(function () {
            var email = $('#email').val();
            $.ajax({
                url: '@Url.Action("ForgotPassword", "Account")',
                type: 'POST',
                data: { 'email' : email},
                success: function () {
                    alert('Sifrenizi sifirlamak icin e-posta adresinize link gonderilmistir.');
                }
            });
        })
    </script>
}

